*{
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 8px;
  gap: 1rem;
  width: 350px;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 1rem;
}

input {
  width: 90%;
  border-radius: 8px;
  padding: 12px;
}

.user_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  padding: 8px;
  gap: 1rem;
}

.usertitle {
  display: flex;
  gap: 2rem;
}

.user {
  display: flex;
  padding: 8px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 1px solid grey;
}

h1{
  font-size: 19px;
}

h2{
  font-size: 19px;
}

h3{
  font-size: 19px;
  opacity: 0.6;
}

.name {
  display: flex;
  flex-direction: column;
}

.age {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  flex-direction: column;
}

.but{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  border: none;
  padding: 12px;
  background-color: rgb(228, 174, 75);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
&:hover{
  background-color: rgb(201, 154, 67);
}}